@font-face {
  font-family: 'storybookregular';
  src: url('../../public/fonts/storyboo-webfont.woff2') format('woff2'),
  url('../../public/fonts/storyboo-webfont.woff') format('woff'),
  url('../../public/fonts/Storyboo.TTF') format('ttf');
  font-weight: normal;
  font-style: normal;

 // font-family: 'storybookregular';
 // src: url('../fonts/storyboo-webfont.woff2') format('woff2'),
  //url('../fonts/storyboo-webfont.woff') format('woff'),
 // url('../fonts/Storyboo.TTF') format('ttf');
 // font-weight: normal;
 // font-style: normal;
}
// Basic Font For All Site
body{
  font-family: storybookregular;
  font-size: 75%;
}

